
  <div class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']">Angular Scratchpad</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/page2']">Page 2</a></li>
          <li><a [routerLink]="['/page3']">Page 3</a></li>          
          <li><a [routerLink]="['/page4']">Page 4</a></li>          
          <li><a [routerLink]="['/page5']">Page 5</a></li>          
          <li><a [routerLink]="['/page6']">Page 6</a></li>          
          <li><a [routerLink]="['/page7']">Page 7</a></li>          
          <li><a [routerLink]="['/page8']">Page 8</a></li>          
        </ul>
      </div>
  </div>
</div>